* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --border-color: #209bff;
    --table-color: #88ce7a;
    --color-one: #ff9b9b;
    --color-two: #5ec4ff;
    --color-three: #67d483;
    --color-four: #e3e654;
    --color-five: #8efff9;
    --color-preparacion: #ffc89b;
    --color-complement: #d29bff;
}
.container { 
    width: 100%; 
    min-height: 100vh;
}
.container .icons { font-size: 45px; }
input.input_date {
    height: 25px;
    border-radius: 8px;
    border: 1px solid #00000040;
    padding: 0 5px;
}
input.input_date:focus {
    outline: none;
    border: 2px solid var(--border-color);
}

/* Estilos Header */

.container header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
header .logos .logos_head { width: 80px; }
header .title h1 {
    margin: 0 25px;
    font-size: 3.1rem;
}
header section.title i { margin-right: 15px; }
header .logos {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header .logos span { 
    font-size: 1.5rem; 
    font-weight: 600;
}

/* Estilos Main */

main.main_shedule {
    padding: 10px;
    display: grid;
    grid-template-columns: 250px 1fr;
}
main.main_shedule .div_instructors { z-index: 1000; }
main.main_shedule .div_instructors > p {
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
}
main.main_shedule .div_instructors .info_instructor {
    min-height: 80px;
    border-bottom: 1px solid #00000040;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
}
main.main_shedule .info_instructor:hover {
    cursor: pointer;
    box-shadow: -9px 4px 15px black;
    margin-left: 15px;
    width: 250px;
}
main.main_shedule .info_instructor section {
    text-align: right;
    font-size: 15px;
}
main.main_shedule .info_instructor i { margin: 0 10px; }
main.main_shedule .info_instructor section .name {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 600;
    width: 162px;
}

/* Estilos del Contenedor de mostrar horas */

aside.show_hours {
    width: 220px;
    margin: 50px auto;
    border: 2px dashed black;
    padding: 20px 10px;
    text-align: center;
    position: sticky;
    top: 180px;
    display: none;
}
aside.show_hours > p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 30px;
}
aside.show_hours > span {
    font-size: 2.5rem;
    font-weight: 900;
    border-bottom: 1px solid;
}
aside.show_hours .horas_asignadas { color: rgb(6, 185, 0); }
aside.show_hours .horas_restantes { color: red; }

/* Estilos para Body - Main */

main.main_shedule .body_shedule {
    display: flex;
    flex-direction: column;
}
main.main_shedule .body_shedule .header_body {
    font-weight: 600;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
main.main_shedule .header_body input {
    width: 250px;
    margin: 0 10px;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 6px;
    border-bottom: 1px solid black;
    text-align: center;
}
main.main_shedule .header_body input:focus { outline: none; }
main.main_shedule .header_body button,
.btns_options article button,
.type_contrato article button {
    min-height: 30px;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid black;
}
main.main_shedule .header_body button:hover,
.btns_options article button:hover,
.type_contrato article button:hover {
    box-shadow: 0px 0px 8px black;
}

section.body_shedule .btns_options,
section.body_shedule .type_contrato {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}
section.body_shedule .btns_options article,
section.body_shedule .type_contrato article {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}
.btns_options article button,
.type_contrato article button {
    width: 140px;
}

/* Estilos de Crear Horario */

.body_shedule section.name_instructor {
    margin: 30px auto 10px;
    text-align: center;
    font-size: 1.2rem;
    display: none;
}
.body_shedule section.name_instructor h3 { 
    font-size: 1.6rem;
    border-bottom: 1px solid black; 
}
.body_shedule section.create_shedule h2 {
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 20px auto 25px;
}
section.create_shedule { display: none; }
section.create_shedule article.dates {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    font-weight: 600;
}
section.create_shedule article.btn_add_ficha {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
}
section.create_shedule article.btn_add_ficha span {
    display: inline-block;
    border: 2px solid black;
    font-size: 17px;
    padding: 3.5px 8px;
    margin-right: 8px;
    border-radius: 50%;
}
section.create_shedule article.btn_add_ficha button {
    border: none;
    cursor: pointer;
    background: transparent;
    font-weight: 600;
}
section.create_shedule article.btn_add_ficha button:hover {
    color: rgb(35, 201, 20);
    text-shadow: 1px 1px 10px #00000060;
}
article.form #formulario {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    display: none;
}
article.form #formulario label,
section.body_shedule .form_complem label {
    display: block;
    margin: 8px 0 8px 10px;
    font-weight: 600;
}
article.form #formulario input,
article.form #formulario select {
    width: 100%;
    height: 28px;
    padding: 0 0 0 6px;
    border-radius: 6px;
    border: 1px solid #00000050;
}
article.form #formulario textarea {
    resize: none;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #00000050;
    padding: 5px;
    font-size: 15px;
}
#formulario textarea#area_comp {
    margin-top: 8px;
    height: 138px;
}
article.form #formulario .div_competencia {
    grid-row: span 2;
}
article.form #formulario .btns_actions {
    grid-column: span 3;
    height: 50px;
    display: flex;
    gap: 30px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
article.form #formulario .btns_actions button,
aside.btns_form_comple button,
button.save_data,
section.update_btns button {
    width: 140px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: 600;
    cursor: pointer;
}
article.form #formulario .btns_actions button:hover,
aside.btns_form_comple button:hover,
button.save_data:hover,
section.update_btns button:hover  {
    box-shadow: 0px 0px 6px black;
}
section.body_shedule .form_complem {
    text-align: center;
    display: none;
}
.form_complem aside textarea {
    width: 60%;
    margin: 10px auto 15px;
    padding: 10px;
    font-size: 16px;
}
.form_complem aside button {
    margin: 0 20px;
}

/* Estilos Tabla Horarios */

main.table_shedule { padding: 10px; }
main.table_shedule table {
    width: 95%;
    max-width: 1500px;
    margin: auto;
}
main.table_shedule table thead { height: 35px; }
main.table_shedule table th { 
    background-color: var(--table-color);
}
main.table_shedule table thead th { min-width: 100px; }
main.table_shedule table tr { height: 30px; }
main.table_shedule .resume {
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 70px;
    margin: 0 0 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    display: none;
}
main.table_shedule .resume span {
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    vertical-align: middle;
    width: 80px;
    height: 25px;
}
.table_shedule > h2 {
    text-align: center;
    margin-bottom: 20px;
}
button.save_data { margin-top: 15px; }
section.btns_table {
    display: flex;
    justify-content: center;
    gap: 100px;
    display: none;
}

/* Estilos Mostrar Horarios */

section.dates_range,
section.show_shedule > h2 {
    grid-column: span 2;
}
section.show_shedule section.dates_range {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 25px;
    text-transform: capitalize;
}
section.show_shedule > h2 { margin: 20px auto 10px; }
i.icons_change_date {
    font-size: 2rem;
    cursor: pointer;
}
i.icons_change_date:hover { color: #00af00; }

/* Estilos Actualizar Datos */

section.show_shedule,
section.update_info {
    padding-left: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    display: none;
    margin-bottom: 10px;
}
section.show_shedule form,
section.update_info form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 15px 20px;
    box-shadow: 0px 0px 5px #00000040;
}
section.programa_forma, 
section.sect_competencia, section.sect_descrip { grid-column: span 2; }
section.update_btns { 
    grid-column: span 4; 
    text-align: center;
}
form.form_update_descrip > section { grid-column: span 4; }
section.show_shedule form label,
section.update_info form label {
    display: inline-block;
    font-weight: 600;
    padding: 5px 0; 
}
section.show_shedule form input,
section.show_shedule form textarea,
section.update_info form input,
section.update_info form select,
section.update_info form textarea {
    width: 100%;
    height: 24px;
    padding: 0 8px;
    border: 1px solid #00000050;
    border-radius: 6px;
}
section.show_shedule form input:focus,
section.show_shedule form textarea:focus,
section.update_info form input:focus,
section.update_info form select:focus,
section.update_info form textarea:focus {
    outline: none;
    border: 2px solid var(--border-color);
}
section.show_shedule form textarea,
section.update_info form textarea {
    height: 150px;
    padding-top: 5px;
    margin-top: 5px;
    border: none;
    resize: none;
}
form.form_update_descrip section textarea { height: 200px; }
section.sect_descrip #Descripcion { height: 173px; }
section.update_dates { 
    line-height: 40px;
    font-weight: 600;
    grid-column: span 2; 
    text-transform: capitalize;
}
section.dates_before {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}
section.dates_after {
    display: flex;
    justify-content: center;
    gap: 50px;
}
span.btn_color:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px black;
}
section.show_shedule h3,
section.update_info h3 {
    grid-column: span 2; 
    text-align: center;
}






.table_shedule tbody td:hover {
    cursor: pointer;
    background-color: #24bd24;
}
.color_none { background-color: rgb(167, 167, 167); }
.color_one { background-color: var(--color-one); }
.color_two { background-color: var(--color-two); }
.color_three { background-color: var(--color-three); }
.color_four { background-color: var(--color-four); }
.color_five { background-color: var(--color-five); }
.color_preparacion { background-color: var(--color-preparacion); }
.color_complement { background-color: var(--color-complement); }

/* Media Queries */

@media screen and (max-width: 1475px) {
    section.show_shedule form, section.update_info form {
        padding: 15px;
    }
    section.show_shedule form label, 
    section.update_info form label {
        font-weight: 600;
        padding: 0;
        font-size: 14px;
    }
}